*{
    margin: 0;
    padding: 0;
}
body{
    background: chartreuse;
}

header {
    height: 100px;
    background: black;
    color: #fff;

    display: flex;
    border-bottom: 2px solid rgb(14, 14, 214);

}
.contentHeader{
    margin: 0 auto;
    /*largura*/
    max-width: 1000px;
    width: 100%;
    /*flexbox*/
    display: flex;
    align-items: center;
    justify-content:space-between;
}


header h1{
    margin: 20px;
}
header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;


}
header nav ul a:hover{
    text-decoration: underline;
    color: orange;
}