body{
    background: chartreuse;
}

header{
    background: black;
    color: #fff;
    display: flex;
    justify-content:space-between;
}
header nav ul{
    display: flex;
}

header nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;

}