*{
    margin: 0;
    padding: 0;
}
body{

    background: rgb(230, 227, 227);

}

.contentMain {
    margin: 0 auto;
    /*largura*/
    max-width: 1000px;
    width: 100%;

}

header {

    height: 100px;
    background: black;
    color: #fff;

    display: flex;
    border-bottom: 2px solid rgb(14, 14, 214);


}
.contentHeader{
    margin: 0 auto;
    /*largura*/
    max-width: 1000px;
    width: 100%;
    /*flexbox*/
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* deixou responsivo*/
    flex-wrap: wrap;
}


header h1{
    margin: 20px;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul a {

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;

}

header nav ul a:hover{
    text-decoration: underline;
    color: orange;
}

.carrossel article {
    margin-top: 20px;
}


.carrossel img {
    border-radius: 10px;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;



}

.card {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.card img {
    border: 2px solid rgb(228, 225, 225);
}

.extra{
    background-color: #ddd;
    padding: 30px;
    text-align: center;
}

footer{
    font-size: 15px;
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Página Sobre */
.paginaSobre h1{
    color: rgb(13, 13, 161);
    margin-top: 30px;
    justify-self: center;
    padding: 10px;
    margin-bottom: 20px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  /*Tira borda de efeito colateral do browser*/
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: bold;
  border: solid 1px gray;
  /* margin-bottom: 10px; */
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel p {
    padding: 25px;
    line-height: 21px;
}

/* Formulário */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
    justify-self: center;

}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form .titulo-checkbox {
  font-size: 16px;
  margin-bottom: 10px;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(39, 39, 234);
  color: white;
  cursor: pointer;
}

.cadastro {
    font-size: 18px;

}
.cadastro a{
    text-decoration: none;
    color: blue;
}

